@model ModuloVirtual
<h1>Agregar Modulo</h1>

<form asp-action="Crear">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Propietario</label>
                    <select asp-for="IdPropietario" class="form-control Propietario" asp-items="ViewBag.Propietario"></select>
                    <span asp-validation-for="IdPropietario" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="formFile">Descripcion</label>
                <div class="input-group">
                    <textarea class="form-control Descripcion" name="DescripcionModulo" rows="3" maxlength="500"></textarea>
                </div>
            </div>

        </div>
        <!--Id Propietario-->        
    </div>

    <hr />

    <div class="btn-group">
        <input type="submit" value="Guardar" class="btn btn-success" />
    </div>
</form>