<h1>Ingresar datos del producto</h1>

<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="formFile" class="form-label">Nombre</label>
                <input type="text" name="NombreProducto" class="form-control" />
            </div>
            <div class="form-group">
                <label for="formFile" class="form-label">Precio</label>
                <input type="text" name="PrecioProducto" class="form-control" />
            </div>
            <div class="form-group">
                <label for="formFile">Descripcion</label>
                <div class="input-group">
                    <textarea class="form-control" name="DescripcionProducto" rows="3"></textarea>
                </div>
            </div>

        </div>
        <!--Categoria del Producto-->
        <div class="col-md-6">
            <div class="input-group">
                <label class="input-group-text" for="inputGroupSelect01">Categorias</label>
                <select class="form-select col-md-8" id="inputGroupSelect01">
                    <option selected>Seleccione...</option>
                    <option value="Ropa">Ropa</option>
                    <option value="Alimentos">Alimentos</option>
                    <option value="Bebida">Bebida</option>
                    <option value="Hogar">Hogar</option>
                    <option value="Vehiculo">Vehiculo</option>
                    <option value="Herramienas">Herramienas</option>
                    <option value="Refacciones">Refacciones</option>
                    <option value="Electrónica">Electrónica</option>
                </select>
            </div>
            <div class="mb-auto">
                <label for="formfile" class="form-label">Agregar Imagen</label>
                <input type="file" name="DescripcionProducto" class="form-control-file" />
            </div>
        </div>
    </div>
</form>

<hr />

<div class="btn-group">
    <input type="submit" value="Guardar" class="btn btn-success" />
</div>
