<h1>Ingresar datos del producto</h1>

<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="formFile" class="form-label">Nombre</label>
                <input type="text" name="NombreProducto" class="form-control" />
            </div>
            <div class="form-group">
                <label for="formFile" class="form-label">Precio</label>
                <input type="text" name="PrecioProducto" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Descripcion</label>
                <input type="text" name="DescripcionProducto" class="form-control" />
            </div>
            <div class="mb-auto">
                <label for="formFile" class="form-label">Agregar Imagen</label>
                <input type="" name="DescripcionProducto" class="form-control" />
            </div>
        </div>
        <!--Categoria del Producto-->
        <div class="col-md-6">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Options</label>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </div>
</form>

<hr />

<div class="btn-group">
    <input type="submit" value="Guardar" class="btn btn-success" />
</div>
