<h1>Ingresar datos del producto</h1>

<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Nombre del Producto</label>
                <input class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label class="col-form-label">Precio</label>
                <input class="form-control" type="text" />
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-auto">
                <label for="formFile" class="form-label">Agregar Imagen</label>
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>
        <!--Categoria del Producto-->
        <div class="col-md-6">
            <select class="form-control">
                <option>Alimentos / Bebidas</option>
                <option>Hogar</option>
                <option>Vehiculos</option>
                <option>Herramientas</option>
                <option>Refacciones</option>
                <option>Electronica</option>
            </select>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
</form>

<hr />

<a class="btn btn-outline-info">Guardar</a>
