<h1>Ingresar datos del Categoria</h1>

<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Categoria del Producto</label>
                <input class="form-control" type="text" />
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>

</form>

<hr />

<a class="btn btn-outline-info">Guardar</a>