@model Propietario
<h1>Editar Categoria</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarPropietario">
            <input class="id" type="hidden" name="IdPropietario" value="@Model.IdPropietario" />
            <div class="form-group">
                <label for="formFile" class="form-label">Nombre</label>
                <input type="text" name="NombrePropietario" value="@Model.NombrePropietario" class="form-control Nombre" maxlength="50"/>
            </div>

            <hr />
            <div class="btn-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>

