@model ElOrientalVirtualMarcoMoreno.Models.ViewModel.UploadModel

<p>@ViewBag.message</p>
<div class="text-center">
    <form asp-controller="Imagen" asp-action="Upload" enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label>Archivo</label>
            </dt>
            <dd>
                <input asp-for="MyFile" type="file"/>
            </dd>
        </dl>
        <input type="submit" value="Upload" />
    </form>

</div>

